.chat-container {
  display: flex;
  height: 100vh;
}

p {
  margin: 0;
}

.chat-list {
  width: 25%;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.chat-list a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #333;
}

.chat-list a:hover {
  background-color: #f2f2f2;
}

.chat-content {
  flex: 1;
  padding: 20px;
  overflow-y: scroll;
  position: relative;
  margin-bottom: 90px;
}


.message > .username {
  padding: 10px 10px 0;
  background-color: #f2f2f2;
  max-width: max-content;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: 600;
  border-bottom: 1px solid #bfb9b9;
  cursor: pointer;
}

.message {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

.message-text {
  padding: 10px;
  border-radius: 10px;
  max-width: 500px;
  word-wrap: break-word;
}

.message-received {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.message-received > .message-text {
  background-color: #f2f2f2;
  text-align: left;
  border-top-left-radius: 0;
}

.message-sent {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.message-sent > .message-text {
  background-color: #4caf50;
  color: white;
  text-align: right;
  max-width: max-content;

}

.input-message {
  position: fixed;
  bottom: 20px;
  width: 100%;
}

#input-message {
  width: 70%;
  text-align: right;
}
