<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="icon" href="./static/images/favicon.png" type="image/png" />
    <link rel="stylesheet" href="./static/css/chat.css" />
    <title>Gobusters Chat</title>
    <style></style>
  </head>
  <body>
    <div class="container-fluid chat-container">
      <!-- Columna de chats -->
      <div class="chat-list">
        <a href="#" class="active">Chat 1</a>
        <a href="#">Chat 2</a>
        <a href="#">Chat 3</a>
        <!-- Agrega más chats según sea necesario -->
      </div>

      <!-- Área de contenido del chat -->
      <div class="chat-content">
        <!-- Mensajes recibidos -->
        <div class="message message-received">
          <p class="username">Lucia</p>
          <p class="message-text">Hola, estoy bien. ¿Y tú?</p>
          <p class="time">17:05</p>
        </div>

        <div class="message message-received">
          <p class="message-text">Hola, estoy bien. ¿Y tú?</p>
        </div>

        <!-- Mensajes enviados -->
        <div class="message message-sent">
          <p class="message-text">Hola, estoy bien. ¿Y tú?</p>
          <p class="time">17:05</p>
        </div>
        <div class="message message-received">
          <p class="message-text">Hola, estoy bien. ¿Y tú?</p>
        </div>

        <div class="input-message ">
          <input type="text" class="form-control" id="input-message" />
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="./static/js/chat.js"></script>
    <script src="./static/js/socket.js"></script>
  </body>
</html>
